{% extends 'base.html' %} {% block content %}

<div
  style="display: flex; align-items: center; justify-content: center"
  class="login-box auth0-box before"
>
  <img style="width: 80%" src="/static/media/monitor.png" />
</div>

<div class="container">
  <h2>Consultar Historia Clínica</h2>
  <form action="{% url 'buscar_historia_clinica' %}" method="get">
    <label for="id_historia">ID de Historia Clínica:</label>
    <input type="text" id="id_historia" name="id" required />
    <button type="submit">Buscar</button>
  </form>
</div>

{% endblock %}
