
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Historias Clínicas</title>
</head>
<body>
    <h2>Historias Clínicas</h2>
    <ul>
        {% for historia in historias %}
            <li>
                {{ historia.paciente.nombre }} {{ historia.paciente.apellido }} - <a href="{% url 'detalle_historia_clinica' historia.id %}">Ver Detalle</a>
            </li>
        {% endfor %}
    </ul>

    <div class="container">
        <h2>Consultar Historia Clínica</h2>
        <form action="{% url 'buscar_historia_clinica' %}" method="get">
          <label for="id_historia">ID de Historia Clínica:</label>
          <input type="text" id="id_historia" name="id" required />
          <button type="submit">Buscar</button>
        </form>
      </div>
</body>
</html>
